<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FastPay</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <style>
        button {
            background-color: #0984e3 !important;
            border-color: #0984e3 !important;
            padding: 8px 20px;
            border-radius: 4px;
            font-weight: bold;
            color: white !important;
        }

        button {
            background-color: #74b9ff !important;
            border-color: #74b9ff !important;
        }

      body {
          background-color: #fdfffd !important;
          color: #282c3f !important;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          letter-spacing: .3px;
          text-decoration: none;
      }

      a, h3, h5 {
          color: #2d3436;
      }

      .card {
          background-color: #ffffff;
          border:  2px solid #f7f2f2 !important;
          border-radius: 8px;
          box-shadow: 0 2px 4px rgba(0,0,0,.05);
          margin-bottom: 20px;
          
      }

      .card-title, .card-text {
          color: #333;
      }

      .btn-primary, .addbtn {
          background-color: #0984e3 !important;
          border-color: #0984e3 !important;
          padding: 8px 20px;
          border-radius: 4px;
          font-weight: bold;
          color: white !important;
      }

      .btn-primary:hover, .addbtn:hover {
          background-color: #74b9ff !important;
          border-color: #74b9ff !important;
      }

      .addBalance {
          background-color: #ffffff;
          color: #333;
          border: 1px solid #ced6e0;
          border-radius: 8px;
          padding: 9px;
          margin-right: 10px;
      }

      .section-title {
          margin-top: 50px;
          margin-bottom: 20px;
      }

      .header {
          max-width: 100%;
          background-color: white;
          color: #282c3f;
          padding: 20px;
          border-radius: 8px;
          margin-bottom: 20px;
          box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
          display: flex;
          justify-content: space-between;
          align-items: center;
          text-transform: uppercase;
      }

      .header h1 {
          margin: 0;
      }

      .view-orders {
          text-align: center;
          text-decoration: none;
          font-size: 14px;
          letter-spacing: .3px;
          color: #282c3f;
          border-bottom: none;
          font-weight: 700;
          text-transform: uppercase;
      }

  </style>
</head>
<body>
  <div class="container header">
    <h1><a href="/">FastPay</a></h1>
      <a href="/viewOrders" class="view-orders">View Orders</a>
  </div>
    <!-- </nav> -->

    <center>
        <div id="checkout">
            <h1 style="font-weight: bold; margin-top: 7%;">Checkout</h1>
            <br>
            <div class="card container col-lg-6" style="width: 40%; background-color: #fff !important">
                <form id="paymentForm" style="padding: 50px;">
                    <div class="total">Total: <b>₹<%=(total / 100).toFixed(2)%></b></div>
                    <br>
                    <div id="paymentElement">
                        <!-- Elements will create form elements here -->
                    </div>
                    <br>
                    <button id="payButton" class="btn-primary paybutton" id="submit" hidden>Submit</button>
                    <div id="error-message">
                        <!-- Display error message to your customers here -->
                    </div>
                </form>
            </div>
        </div>
    </center>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        const stripe = Stripe('<%=STRIPE_PUBLISHABLE_KEY%>');
        const options = {clientSecret: "<%=client_secret%>"};
        const elements = stripe.elements(options);
        const paymentElement = elements.create('payment');
        paymentElement.mount('#paymentElement');
        payButton.removeAttribute('hidden')
        paymentForm.addEventListener('submit', async (event) => {
            event.preventDefault();
            const { error } = await stripe.confirmPayment({
                elements,
                confirmParams: {
                    return_url: 'http://fastpay.com/orderStatus',
                }
            });

            if (error) {
                const messageContainer = document.querySelector('#error-message');
                messageContainer.textContent = error.message;
            } else {
            }
        })
    </script>
</body>

</html>