<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastPay</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #fdfffd !important;
            color: #282c3f !important;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            letter-spacing: .3px;
            text-decoration: none;
        }
  
        a, h3, h5 {
            color: #2d3436;
        }
  
          .card {
              background-color: #ffffff;
              border:  2px solid #f7f2f2 !important;
              border-radius: 8px;
              box-shadow: 4px 4px 12px rgba(0,0,0,.05);
              margin-bottom: 20px;
              
          }
  
        .card-title, .card-text {
            color: #333;
        }
  
        .btn-primary, .addbtn {
            background-color: #0984e3 !important;
            border-color: #0984e3 !important;
            padding: 8px 20px;
            border-radius: 4px;
            font-weight: bold;
            color: white !important;
        }
  
        .btn-primary:hover, .addbtn:hover {
            background-color: #74b9ff !important;
            border-color: #74b9ff !important;
        }
  
        .addBalance {
            background-color: #ffffff;
            color: #333;
            border: 1px solid #ced6e0;
            border-radius: 8px;
            padding: 9px;
            margin-right: 10px;
        }
  
        .section-title {
            margin-top: 50px;
            margin-bottom: 20px;
        }
  
        .header {
            max-width: 100%;
            background-color: white;
            color: #282c3f;
            padding: 20px;
            border-radius: 8px;
            margin-bottom: 20px;
            box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-transform: uppercase;
        }
  
        .header h1 {
            margin: 0;
        }
  
        .view-orders {
            text-align: center;
            text-decoration: none;
            font-size: 14px;
            letter-spacing: .3px;
            color: #282c3f;
            border-bottom: none;
            font-weight: 700;
            text-transform: uppercase;
        }
  
    </style>
  </head>

  <body>
    <div class="container header">
        <h1><a href="/">FastPay</a></h1>
    </div>
    <center>
        <div id="checkout">
            <h2 style="font-weight: bold; margin-top: 7%;">Payment Status</h2>
            <br>
            <div class="card paymsg container col-lg-4">
                <div id="message"></div>
            </div>
        </div>
    </center>

    <script src="https://js.stripe.com/v3/"></script>
    <script>
        const stripe = Stripe('<%=STRIPE_PUBLISHABLE_KEY%>');
        const clientSecret = new URLSearchParams(window.location.search).get(
        'payment_intent_client_secret'
        );

        // Retrieve the PaymentIntent
        stripe.retrievePaymentIntent(clientSecret).then(({paymentIntent}) => {
        const message = document.querySelector('#message')
        switch (paymentIntent.status) {
            case 'succeeded':
                bookingConfirmation()
            break;
            case 'processing':
                message.innerText = "Payment processing. We'll update you when payment is received.";
            break;
            case 'requires_payment_method':
                message.innerText = 'Payment failed. Please try another payment method.';
            break;
            default:
                message.innerText = 'Something went wrong.';
            break;
        }
        });

        function bookingConfirmation(){
            const referenceId = new URLSearchParams(window.location.search).get('referenceId');
            fetch('/booking_confirmation', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
            body: JSON.stringify({ referenceId:  referenceId})
            })
            .then(response => response.json())
            .then((data) =>{
                message.innerHTML = "<br><p><b>Payment processed successfully!</b></p>\
                <p>We have sent an email with your ticket details to your <b>registered email address</b>. Please check your inbox (and spam/junk folder) for the ticket confirmation.<br><br>Thank you for choosing <b>FastPay</b></p>\
                    <b><button class='addbtn' onclick='document.location=\'/\''>Dashboard</button></b><br> <br>\
                   ";
            })
            .catch(error => console.error('Error:', error));
        }
    </script>
</body>

</html>